<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.coatli.java.persistence.PersonMapper">

  <sql id="allColumns">
    id       AS "key",
    name     AS name,
    birthday AS birthDay,
    age      AS age
  </sql>

  <insert id="create"
          parameterType="Person">
    INSERT INTO
      person
    (
      id,
      name,
      birthday,
      age
    )
    VALUES
    (
      #{key,      mode=IN, javaType=Long,    jdbcType=INTEGER},
      #{name,     mode=IN, javaType=String,  jdbcType=VARCHAR},
      #{birthDay, mode=IN, javaType=Date,    jdbcType=DATE},
      #{age,      mode=IN, javaType=Integer, jdbcType=INTEGER}
    )
  </insert>
  
  <select id="retrieve"
          parameterType="Long"
          resultType="Person">
    SELECT
    <include refid="allColumns" />
    FROM
      person
    WHERE
      id = #{key, mode=IN, javaType=Long, jdbcType=INTEGER}
  </select>

  <select id="findAll"
          resultType="Person">
    SELECT
    <include refid="allColumns" />
    FROM
      person
  </select>

</mapper>
