<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <turboFilter class="ch.qos.logback.classic.turbo.MarkerFilter">
    <Marker>PROFILER</Marker>
    <OnMatch>NEUTRAL</OnMatch>
  </turboFilter>
  
  <appender name="log" class="ch.qos.logback.core.FileAppender">
    <file>target/app.log</file>
    <immediateFlush>true</immediateFlush>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{36}:%L %M - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="error" />
  
  <logger name="net.coatli.java" level="info" additivity="false">
    <appender-ref ref="log"/>
  </logger>
</configuration>
